*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
  Typography 
 ================= */
h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-shadow: 0px 2px  #816fca;
}

h2 {
  font-size: 2.25rem;
  margin-block: 0.375em;
}

.beta-text,
.subheading {
  text-transform: uppercase;
}

.beta-text { 
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
  margin-bottom: .5em;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -1;
    margin: 0 auto;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
  Flex containers
  ================= */
.intro,
.main-content {
  display: flex;
  flex-direction: column;
  padding-inline: 2em;
}


/* =================
  Intro
 ================= */
.intro {
  justify-content: space-between;
  min-height: 250px;
  text-align: center;
  color: #fff;
  background: #9480e4 url("./images/intro-bg.png");
  background-size: cover;
  background-position: center center;
  padding-bottom: 1.5em;
}

/* ====================
  Main content
 ==================== */
.main-content {
  align-items: center;
  padding-block-start: 2.5em;
}

.img-main {
  width: 7.5em;
  border-radius: 50%;
}

.main-content p,
form {
  max-width: 450px;
}

/* =================
  Form
 ================= */
input,
.btn {
  font-family: inherit;
  width: 100%;
}

 input {
  margin-block-end: 0.75em;
  padding: 0.5em;
  border: solid 2px #d1d5db;
  border-radius: 5px;
 }

 .btn {
  border: none;
  border-radius: 5px;
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background-color: #8a71ec;
  color: whitesmoke;
  margin-block-start: 1em;
}

input:focus,
.btn:focus {
  /* border: none; */
  outline-color: #8a71ec;
  outline-offset: 0.5em;
  outline-style: solid;
  outline-width: .25em;
  background: #ffffff;
  box-shadow: 0px 0px 8px 3px #8a71ec;
}

.btn:hover,
.btn:focus {
  background: #b7a7f6;
  color: whitesmoke;
  outline-offset: 0.5em;

}

/* =================
  Media queries 
 ================= */
 @media (min-width: 690px) {
  body {
    display: flex;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.625rem;
  }
  
  .beta-text {
    font-size: 1.125rem;
  }
  
  .intro,
  .main-content {
    flex: 1;
  }

  .intro {
    min-height: 100vh;
  }

  .main-content {
    justify-content: center;
    padding-block-start: 0;
  }

 }